
.footer{
    @include section-pattern;
    height: 600px !important; 
    padding-top: 200px;
}

.footer-pages{
    max-width: 200px;
}

.footer h3{
    text-align: left;
    padding-bottom: 40px;
}

.footer a{
    display: block;
    text-align: left;
    padding-bottom: 20px;
}

.footer-map{
    margin-right: 200px;
    margin-left: 50px;
}

.footer-map iframe{
    border-radius: 20px;
}

.footer-contact{
    max-width: 300px;
}

.footer-contact img{
    float: left;
    display: block;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.footer-contact h5{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-contact h5:nth-child(4){
    margin-top: 50px;
}

.footer-contact img:nth-of-type(3){
    margin-top: 10px;
}

.footer-contact h5:nth-child(6){
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-contact img:nth-of-type(3){
    margin-top: 10px;
}

.footer-contact img:nth-of-type(n+4):nth-of-type(n-6){
    margin-right: 30px;
}
