

/*Newsletter section*/
.newsletter{
    padding-top: 100px;
    @include section-pattern;
    height: 800px;
}

.newsletter h2{
    margin-bottom: 100px;
}

.newsletter p{
    margin-bottom: 50px;
}

.newsletter-form-input{
    margin: 15px auto;
    display: block;
    position: relative;
    border-radius: 40px;
    padding: 10px 80px 10px 40px;
    border: none;
}

.newsletter-form-btn{
    margin: 0 auto;
    display: block;
    position: relative;
    border-radius: 40px;
    padding: 10px 120px;
    color: $primary-neutral-color;
    background: $primary-color;
    border: none;
}