

/*TITLE SCREEN AND TEXT*/
.title {
    padding: 0px 5%;
    background: url(../img/background-lg.png) no-repeat;
    background-size: cover;
    height: 1000px;
    z-index: 2;
    position: relative;
}

.title-content{
   padding-top: 250px;
}

.screen-title-img{
    position: relative;
    left: -100px;
    top: -50px;
    z-index: 2;
}

.title-container{
    padding-left: 60px;
}

.title-container h1{
    margin-bottom: 20px;
    max-width: 400px;
}

.title-container h4{
    margin-bottom: 60px;
    max-width: 300px;
    text-align: left;
}